*~
*/obj/
*.csproj.user
*.sdf
*.opensdf
*.suo
/Debug/
/Release/
/Examples/bin/
*.tmp_proj
*.lock
*.ide
*.ide-shm
*.ide-wal
Examples/Program.cs
Examples/testToInject.cs
Examples/Program.cs
Examples/Program.cs
